.bookmarks {
	width: 400px;
	margin-right: 0px;
	.group {
		height: 139px;
		display: flex;
		padding-top: 5px;
		background: url(../../assets/bookmarksextent.png);
		&:first-child {
			height: 244px;
			padding-top: 110px;
			background: url(../../assets/bookmarkstop.png);
		}
		.bookmark {
			width: 100px;
			height: 100px;
			background: rgba(255,255,255,0.4);
			margin-left: 11px;
			font-size: 14px;
			text-align: center;
			padding: 5px;
			color: white;
			text-shadow: 0 1px 1px grey, 0 5px 5px black;
			box-shadow: 0 4px 8px rgba(0,0,0,0.8);
			border-radius: 25px;
			> img {
				height: 48px;
			}
			> p {
				max-height: 42px;
				overflow: hidden;
			}
			&:first-child {
				margin-left: 70px;
			}
		}
	}
}
