@keyframes spinner {
	0%  {transform: rotate(0deg)}
	100%{transform: rotate(359deg)}
}

.page {

	margin: 0 auto;

	.left-sidebar, .right-sidebar {
		flex-shrink: 0;
		width: 400px;
	}

	.name {
		padding: 40px 0 0;
		text-align: center;
		font-size: 54px;
		color: #fff5e2;
		text-shadow: 0 1px orange, 0 6px 12px black;
	}

	.style {
		text-align: center;
		font-size: 42px;
		color: #ffe3ad;
		text-shadow: 0 1px orange, 0 6px 12px black;
	}

	.label {
		float: left;
		width: 450px;
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.link {
		font-size: 18px;
		display: block;
		color: #864b00;
		margin-top: 10px;
		text-decoration: underline;
		text-shadow: 0 1px orange, 0 0px 4px orange;
	}

	.beer-info {
		background: rgba(255,255,255,0.8);
		padding: 20px;
		flex-shrink: 1;
		h2 {
			font-size: 22px;
			font-weight: bold;
			color: brown;
			padding: 10px 0;
		}
		.description {
			font-size: 18px;
		}
	}

	.page-body {
		margin-top: 40px;
		display: flex;
		> :first-child {
			flex-grow: 0;
		}
		> :first-child + div {
			flex-grow: 1;
		}
		> :last-child {
			flex-grow: 0;
		}
	}

	.preloader {
		position: fixed;
		top: 0;
		right: 0;
		bottom:0;
		left: 0;
		display: flex;
		background: rgba(255,255,255,0.6);
		justify-content: center;
		align-items: center;
		.spinner {
			width: 256px;
			height: 256px;
			background: url(../../assets/preload.png) no-repeat center;
			animation: spinner 2s infinite linear;
		}
	}
}

@media screen and (max-width: 1240px) {
	.page {

		margin: 0 auto;

		.left-sidebar {
			flex-shrink: 1;
			width: auto;
		}
	}
}
